@import "../../node_modules/fixed-data-table/dist/fixed-data-table.css";

h2 {
  margin: 0;
}

.button-bar {
    margin: 10px;
    float: right;

    &>div {
        margin-left: 20px;
    }
}

input[type="password"] {
    width: 95%;
    border:0;
    border-bottom: 1px solid #DDD;
}

.clearer {
  clear:both;
}
